#navbar {
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 10px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
    border-radius: 5px;
  }
  #navbar a {
    padding: 8px 8px 0px 8px;
    text-decoration: none;
    color: #000;
    display: block;
    border-bottom: solid 1px white;
  }
  #navbar a:hover {
    color: white;
    background-color: #333;
  }
  main {
    margin-left: 190px; 
    padding: 0px 10px;
  }
  @media screen and (max-height: 450px) {
    #navbar {padding-top: 15px;}
    #navbar a {font-size: 18px;}
  }
  header {
    font-weight: bold;
    font-size: 20px;
    background-color: #eee;
    border-radius: 5px;
    padding: 10px;
  }
  #topic_1 {
    margin-top: 10px;
  }